<h5 class="mt-5">Kontakta annonsören</h5>
    <i>Detta steg är till för att förhindra spam-mail till annonsörernas email adresser, vilket automatiskt görs med hjälp av Googles tjänst reCAPCHA (se ikonen i nedre högra hörnet). När du tryckt på knappen och din enhet blir godkänd, dyker en knapp upp för att maila annonsören. </i>
   

    <div class="mt-3 container text-center" id="button_max_width">
        <a class="btn btn-primary btn-sm inline_block" id="email_user_button" role="button" href="">Maila annonsören</a>
    </div>

    <button class="btn btn-secondary btn-sm" id="get_user_email">Hämta annonsörens email</button>