<p>Din annons har betalstatus <b> Obetald </b>-  Endast du kan se annonsen tills den är betald! </p>
<br>
<h4>Hantera annons</h4>

<div style="display: flex; flex-wrap: wrap;">

    <a href="{% url 'swish_payment_initial_template' ad.id %}"><button class="btn btn-primary mr-3 mb-3" >Betala med Swish</button></a>
    
    <a href="{% url 'bg_payment' ad.id %}"><button class="btn btn-secondary mr-3">Betala med Bankgiro</button></a>
    
    {% if ad.is_offering_own_dog == True%}
        <a href="{% url 'update_ad_offering_dog' ad.id %}"><button class="btn btn-secondary mr-3">Ändra annons</button></a>
    {% else %}
        <a href="{% url 'update_ad_requesting_dog' ad.id %}"><button class="btn btn-warning mr-3">Ändra annons</button></a>
    {% endif %}
    
    <a href="{% url 'delete_ad' ad.id %}"><button class="btn btn-danger">Ta bort annons</button></a>
</div>
<br>