<p>Din annons är för närvarande <b> borttagen </b> -  Men du kan aktivera den genom att förnya betalningen nedan. </p>
<p>Genom att förnya din annons blir den giltig i 30 dagar, vilket kostar <b>{{ CURRENT_PRICE_STRING }}</b> via Swish.</p>
<br>


<h4>Hantera annons</h4>
<a href="{% url 'swish_payment_extended_template' ad.id %}"><button class="btn btn-primary" >Betala med Swish</button></a>    
{% if ad.ad_kind == 'OF' %}
    <a href="{% url 'update_ad_offering_dog' ad.id %}"><button class="btn btn-secondary">Ändra annons</button></a>
{% else %}
    <a href="{% url 'update_ad_requesting_dog' ad.id %}"><button class="btn btn-secondary">Ändra annons</button></a>
{% endif %}

<a href="{% url 'delete_ad' ad.id %}"><button class="btn btn-danger">Ta bort annons</button></a>
<br>