<p>Denna annons tillhör dig och är <b>Publicerad</b> </p>
<p>Annonsen går ut  <b>{{ ad.deletion_date }}</b> </p>
<br>
<h4>Hantera annons</h4>


<a href="{% url 'swish_payment_extended_template' ad.id %}"><button class="btn btn-success mr-3 mb-3">Förläng annons 30 dagar</button></a>
{% if ad.is_offering_own_dog == True%}
<br>
<div class="mt-1">
    <a href="{% url 'update_ad_offering_dog' ad.id %}"><button class="btn btn-secondary mr-3">Ändra annons</button></a>
</div>
{% else %}
<br>
<div class="mt-1">
    <a href="{% url 'update_ad_requesting_dog' ad.id %}"><button class="btn btn-secondary mr-3">Ändra annons</button></a>
</div>
{% endif %}
<br>
<div class="mt-1">
    <a href="{% url 'delete_ad' ad.id %}"><button class="btn btn-danger mr-3">Ta bort annons</button></a>
</div>