<p>Din annons har betalstatus <b> Obetald </b>-  Endast du kan se annonsen tills den är betald! </p>
<br>
<h4>Hantera annons</h4>

    <div>
        <a href="{% url 'swish_payment_initial_template' ad.id %}"><button class="btn btn-primary" >Betala med Swish</button></a>
    </div>
    <div class="mt-4">
        <a href="{% url 'bg_payment' ad.id %}"><button class="btn btn-secondary mr-3">Betala med Bankgiro</button></a>
    </div>
    
    {% if ad.ad_kind == 'OF' %}
        <div class="mt-4">
            <a href="{% url 'update_ad_offering_dog' ad.id %}"><button class="btn btn-secondary mr-3">Ändra annons</button></a>
        </div>
    {% else %}
        <div class="mt-4">
            <a href="{% url 'update_ad_requesting_dog' ad.id %}"><button class="btn btn-warning mr-3">Ändra annons</button></a>
        </div>
    {% endif %}
        <div class="mt-4">
            <a href="{% url 'delete_ad' ad.id %}"><button class="btn btn-danger">Ta bort annons</button></a>
        </div>
<br>
