{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kontorshund - Logga in{% endblock title %}

{% block content %}

{% load socialaccount %}
{% providers_media_js %}

<h1>Logga in</h1>
<br>
<br>

<p style="color: red;"><b>OBSERVERA: </b>inloggning med sociala medier ej fungerar om du öppnat sidan via Facebook Messenger/Instagram för tillfället. Öppna
  sidan i din vanliga webbläsare i din telefon/på din dator om du vill använda denna funktionalitet. </p>



<div class="social-box mb-3 mt-3">
  <div class="row">
    <div class="col-md-4">
      
      <a href="{% provider_login_url "facebook" method="js_sdk" %}" id="facebook-login-button" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
        <i class="fa fa-facebook"></i> Logga in med Facebook
      </a>
      
      <a href="{% provider_login_url "google" %}" id="google-login-button" title="Google" class="btn btn-block btn-social btn-lg btn-google-plus">
        <i class="fa fa-google"></i> Logga in med Google
      </a>

    </div>
  </div>
</div>



<h3>Logga in med konto skapat med mailadress</h3>
<br>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Logga in</button>
  </form>
  <br>
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
    <p> Glömt ditt lösenord?</p>
  </a>
  <br>
  <p>Om du ännu inte har något konto, behöver du 
    <a href="{{ signup_url }}">registrera ett konto</a> först.</p>


{% endblock content %}
