{% extends '_base.html' %}
{% load i18n %}
{% load account %}

{% block title %}Lösenord återställt{% endblock title %}


{% block content %}
    <h1>{% trans "Lösenord återställt" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Vi har skickat dig ett e-postmeddelande. Var god kontakta oss om du inte mottagit det inom några minuter.  <a href = "mailto: info@kontorshund.se">info@kontorshund.se</a>{% endblocktrans %}</p>
{% endblock %}
