{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Kontorshund - Byt lösenord{% endblock title %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Felaktig token" %}{% else %}{% trans "Byt lösenord" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Återställningslänken var ogiltig, möjligen pga. att den redan har använts. Var god efterfråga en <a href="{{ passwd_reset_url }}">ny återställningslänk</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success" type="submit" name="action">Byt lösenord</button>

            </form>
        {% else %}
            <p>{% trans 'Ditt lösenord är nu ändrat.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
