{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Byt lösenord{% endblock title %}

{% block content %}
    <h1>{% trans "Byt lösenord" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit" name="action">Byt lösenord</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Glömt lösenord?" %}</a>
    </form>
{% endblock %}
