{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kontorshund - Återställ lösenord{% endblock title %}

{% load i18n %}
{% load account %}

{% block content %}

    <h1>{% trans "Återställ lösenord" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Glömt ditt lösenord? Fyll i din e-postadress nedan så skickar vi dig ett e-postmeddelande där du kan återställa ditt lösenord. " %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Återställ mitt lösenord</button>
    </form>

    <p>Kontakta oss om du har några svårigheter gällande ditt lösenord <a href = "mailto: info@kontorshund.se">info@kontorshund.se</a> </p>
{% endblock %}
