{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kontorshund - Registrera nytt konto{% endblock title %}

{% block content %}

{% load socialaccount %}
{% providers_media_js %}

<h1>Registrera nytt konto</h1>
<br>
<br>


<div class="social-box mb-3">
  <div class="row">
    <div class="col-md-12">
      <a href="{% provider_login_url "facebook" method="js_sdk" %}" id="facebook-login-button" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
        <i class="fa fa-facebook"></i> Registrera med Facebook
      </a>
    </div>
  </div>
</div>

<div class="social-box">
  <div class="row">
    <div class="col-md-12">
      <a href="{% provider_login_url "google" %}" id="google-login-button" title="Google" class="btn btn-block btn-social btn-lg btn-google-plus">
        <i class="fa fa-google"></i> Registrera med Google
      </a>
    </div>
  </div>
</div>

<br>
<br>

  <h3>Registrera med E-postadress</h3>
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button class="btn btn-success" type="submit">Registrera nytt konto</button>
  </form>
{% endblock content %}