{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Kontorshund - Registrera nytt konto{% endblock title %}

{% block content %}

{% load socialaccount %}
{% providers_media_js %}

<h1>Registrera nytt konto</h1>
<br>
<br>

<div class="alert alert-warning mb-3" role="alert" style="text-align: center;">

  <p style="color: red;">
    <b>OBSERVERA:</b>
    Registrering med sociala medier ej fungerar om du öppnat sidan via Facebook Messenger/Instagram för tillfället. Öppna
    sidan i din vanliga webbläsare i din telefon/på din dator om du vill använda denna funktionalitet. 
  </p>
  
</div>
<br>



<div class="social-box mb-3 mt-3">
  <div class="row">
    <div class="col-md-4">
      
      <a href="{% provider_login_url "facebook" method="js_sdk" %}" id="facebook-login-button" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
        <i class="fa fa-facebook"></i> Registrera med Facebook
      </a>
    
      <a href="{% provider_login_url "google" %}" id="google-login-button" title="Google" class="btn btn-block btn-social btn-lg btn-google-plus">
        <i class="fa fa-google"></i> Registrera med Google
      </a>
    
    </div>
  </div>
</div>


<br>
<br>

  <h3>Registrera med E-postadress</h3>
  <br>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button class="btn btn-success" type="submit">Registrera nytt konto</button>
  </form>
{% endblock content %}