#unpublished {
    background-color: lightgray;
    padding: 30px;
    margin: 50px;
}

#unpublished_h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: red;
}


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
.carousel-item img {
    object-fit: contain;
    height: 200px;;
    width:100%;
  }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
.carousel-item img {
    object-fit: contain;
    height: 400px;;
    width:100%;
  }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
.carousel-item img {
    object-fit: contain;
    height: 400px;;
    width:100%;
  }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }