ENVIRONMENT_NAME=Development server

DEBUG=TRUE
IS_DEVELOPMENT=TRUE

VIRTUAL_HOST=
VIRTUAL_PORT=
LETSENCRYPT_HOST=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

MERCHANT_SWISH_NUMBER=

reCAPTCHA_SITE_KEY=
reCAPTCHA_SECRET_KEY=