{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Ta bort annons{% endblock %}

{% block content %}
  <h1>Ta bort annons {{ object_name }}</h1>
  <p>Är du säker på att du vill ta bort annonsen "{{ object }}"? Detta kan inte ångras.</p>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <div class="mt-3">
        <button class="btn btn-danger" type="submit">Ta bort annons</button>
        <button class="btn btn-secondary" type="button" onclick="window.history.go(-1);">Avbryt</button>
    </div>  
</form>
{% endblock content %}