{% extends '_base.html' %}


{% block header %}
<body onload="hide_email_button()">

{% endblock header %}


{% block content %}


<!-- Check if NOT published -->
{% if not ad.is_published %}

    <!-- Check if ad belongs to user -->
    {% if ad.author == request.user %}

            
            <p>Denna annons tillhör dig och är ännu <b>Opublicerad</b>  (Endast du ser detta)</p>
            
            <!-- Check if ad has initial payment -->
            {% if ad.has_initial_payment == False %}
                <p>Din annons har betalstatus <b> Obetald </b>-  Endast du kan se annonsen tills den är betald! </p>
                    <a href="{% url 'swish_payment_template' ad.id %}"><button class="btn btn-primary" >Betala med Swish</button></a>
                    <a href="{% url 'bg_payment' ad.id %}"><button class="btn btn-secondary">Betala med Bankgiro</button></a>
                    <br>
                    <br>
                
            {% else %}
                <p>Din annons har betalstatus <b> Betald </b> Något har gått snett då din annons är betald men ännu ej publicerad. Vänta i 10 minuter och uppdatera sidan. Är din annons ännu opublicerad kontakta oss på <a href = "mailto: info@kontorshund.se">info@kontorshund.se</a> </p>
            {% endif %}

            <div id="unpublished">
                {% include 'core/ad_template.html' %}

                <button class="btn btn-primary btn-sm disabled" id="get_user_email" disabled>Hämta annonsörens email</button>
                <p>Detta steg är till för att förhindra spam-mail till annonsörernas email adresser</p>
                <button class="btn btn-primary btn-sm disabled" id="email_user_button" disabled><a id="email_user_href" href="">Maila annonsören</a> </button>

            </div>
                


    <!-- If ad don't belong to user -->
    {% else %}
        <p>Denna annons väntar på att bli betald</p>
    {% endif %}

<!-- If ad IS published -->
{% else %}

     <!-- Let user know if it's their own ad if it's published -->   
    {% if ad.author == request.user %}
        <p>Denna annons tillhör dig och är <b>Publicerad</b> (Endast du ser detta)</p>
    {% endif %}
        
    {% include 'core/ad_template.html' %}

    <h5 class="mt-5">Kontakta annonsören</h5>
    <i>Detta steg är till för att förhindra spam-mail till annonsörernas email adresser, vilket automatiskt görs med hjälp av Googles tjänst reCAPCHA (se ikonen i nedre högra hörnet). När du tryckt på knappen och din enhet blir godkänd, dyker en knapp upp för att maila annonsören. </i>
    <div class="mt-3" id="button_max_width">
        <a class="btn btn-primary btn-sm" id="email_user_button" role="button" href="">Maila annonsören</a>
    </div>
    <button class="btn btn-secondary btn-sm" id="get_user_email">Hämta annonsörens email</button>

{% endif %}


{% endblock content %}

{% block footer %}




{% comment %} ReCAPCHA {% endcomment %}

<script>
    function hide_email_button() {
    const email_button = document.getElementById('email_user_button');
    email_button.style.display = 'none';
  }

</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
  grecaptcha.ready(function() {
      const get_email_button = document.getElementById('get_user_email');
      const email_user_button = document.getElementById('email_user_button');

      get_email_button.addEventListener('click', (event) => {
        grecaptcha.execute('{{ site_key }}', {action: 'validate_email_request'}).then(function(token) {

            var xhr = new XMLHttpRequest();

            // CSRF Set-up
            let cookie = document.cookie
            let csrftoken = cookie.substring(cookie.indexOf('=') + 1)

            params = {
                'token': token
            }

            // Runs when token have been retrieved
            xhr.onload = function () {
              if (xhr.readyState === xhr.DONE) {
                  if (xhr.status === 200) {
                    mail_adress = xhr.response.replace(/['"]+/g, '')
                    email_user_button.href = `mailto: ${mail_adress}`
                    email_user_button.style.display = 'block';
                    get_email_button.style.display = 'none';

                  }
              }
            };

            // Retrieve token
            xhr.open('POST',  "{% url 'recapcha' ad.pk %}", true);
            xhr.setRequestHeader("X-CSRFToken", csrftoken); 
            //xhr.setRequestHeader("Content-Type", "text/plain;charset=UTF-8"); 
            xhr.send(JSON.stringify(params));

        });
      })

    });
 </script>

 {% endblock footer %}
