{% extends '_base.html' %}
{% load bootstrap %} 
{% load widget_tweaks %}

{% block content %}

    <h1>Lista över annonser - Hundar erbjudes</h1>


        {% comment %} <form method="GET">
        {{ filter.form|bootstrap }}
        <button type="submit" class="btn btn-primary">Sök</button>
        </form> {% endcomment %}

        <form method="get">
          <div class="well">
            <h4 style="margin-top: 0">Filter</h4>
            <div class="row">
              <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.province.label_tag }}
                {% render_field filter.form.province class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.municipality.label_tag }}
                {% render_field filter.form.municipality class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.area.label_tag }}
                {% render_field filter.form.area class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-3">
                {{ filter.form.hundras.label_tag }}
                {% render_field filter.form.hundras class="form-control" %}
              </div>
                
            </div>
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-search"></span> Sök
            </button>
          </div>
        </form>




        <br>
        <br>

        <table class="table table-bordered">
            <thead>
              <tr>
                <th>Titel</th>
                <th>Dagar per vecka</th>
                <th>Landskap</th>
                <th>Kommun</th>
                <th>Område</th>
                <th>Hundras</th>
                <th>Storlek</th>
              </tr>
            </thead>
            <tbody>
              {% for ad in filter.qs %}
                <tr>
                    <td>{{ ad.title }}</td>
                    <td>{{ ad.days_per_week }}</td>
                    <td>{{ ad.province }}</td>
                    <td>{{ ad.municipality }}</td>
                    <td>{{ ad.area }}</td>
                    <td>{{ ad.hundras }}</td>
                    <td>{{ ad.size_offered }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">No data</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>


{% endblock content %}