{% extends '_base.html' %}

{% load static %}

{% block content %}
  <body onload="hide_area_field()">
    

  {% block form_title %}
  <h2>Ny annons - Kontorshund erbjudes</h2>
  {% endblock form_title %}

  
  
  <form method="post" enctype="multipart/form-data" id="adForm" data-municipalities-url="{% url 'ajax_load_municipalities' %}" data-areas-url="{% url 'ajax_load_areas' %}" novalidate>
    {% csrf_token %}  

  
    <table>  
      {{ form.as_p }}
    </table>

    <button type="submit">Publicera annons</button>

  </form>

</body>
{% endblock content %}

{% block footer %}

  {% comment %} Imports for managing Django Autocomplete Light in form {% endcomment %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
  <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
  <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}



  {% comment %} Functions for handling area selectors {% endcomment %}
  <script>
      function hide_area_field() {
        const area_selector = document.getElementById('id_area');
        area_selector.style.display = 'none';
      }

      /* Get URL for requesting list of municipalities & Areas */
      const baseURI = window.location.origin
      const municipality_url = document.getElementById('adForm')['attributes']['data-municipalities-url']['value']
      const area_url = document.getElementById('adForm')['attributes']['data-areas-url']['value']


      /* Get relevant objects from DOM */
      const province_selector = document.getElementById('id_province');
      const municipality_selector = document.getElementById('id_municipality');
      const area_selector = document.getElementById('id_area');

      /* Update municipalities when Province have been chosen */
      province_selector.addEventListener('change', (event) => {
        
        var xhr = new XMLHttpRequest();

        xhr.onload = function () {
          if (xhr.readyState === xhr.DONE) {
              if (xhr.status === 200) {
                  municipality_selector.innerHTML = xhr.response
              }
          }
        };

        xhr.open('GET',  baseURI + municipality_url, true);
        xhr.setRequestHeader('province', province_selector.value)
        xhr.send();

      });


      /* Update Areas when Municipiality have been chosen */
      municipality_selector.addEventListener('change', (event) => {
      
      var xhr = new XMLHttpRequest();

      xhr.onload = function () {
        if (xhr.readyState === xhr.DONE) {
            if (xhr.status === 200) {
                if (xhr.response.length > 58) {
                  area_selector.style.display = ''
                  area_selector.innerHTML = xhr.response
                } else {
                  area_selector.style.display = 'none'
                }
            }
        }
      };

      xhr.open('GET',  baseURI + area_url, true);
      xhr.setRequestHeader('municipality', municipality_selector.value)
      xhr.send();

    });
  </script>

{% endblock footer %}







