{% extends '_base.html' %}


{% block content %}

<!-- Check if NOT published -->
{% if not ad.is_published %}

    <!-- Check if ad belongs to user -->
    {% if ad.author == request.user %}


            <p>Denna annons tillhör dig och är ännu <b>Opublicerad</b> </p>
            
            <!-- Check if ad has initial payment -->
            {% if ad.has_initial_payment == False %}
                <p>Din annons har betalstatus <b> Obetald </b>-  Endast du kan se annonsen tills den är betald! </p>
                    <br>
                    <a href="{% url 'swish_payment_template' ad.id %}"><button >Betala med Swish</button></a>
                    <a href="{% url 'bg_payment' ad.id %}"><button >Betala med Bankgiro</button></a>
                
            {% else %}
                <p>Din annons har betalstatus <b> Betald </b> Något har gått snett då din annons är betald men ännu ej publicerad. Vänta i 10 minuter och uppdatera sidan. Är din annons ännu opublicerad kontakta oss på <a href = "mailto: info@kontorshund.se">info@kontorshund.se</a> </p>
            {% endif %}

            <div id="unpublished">
                {% include 'core/ad_template.html' %}
            </div>
                


    <!-- If ad don't belong to user -->
    {% else %}
        <p>Denna annons väntar på att bli betald</p>
    {% endif %}

<!-- If ad IS published -->
{% else %}

     <!-- Let user know if it's their own ad if it's published -->   
    {% if ad.author == request.user %}
        <p>Denna annons tillhör dig och är <b>Publicerad</b> </p>
    {% endif %}
        
    {% include 'core/ad_template.html' %}

{% endif %}


{% endblock %}
