{% extends '_base.html' %}

{% block content %}

  <h2>Advirtesement Form</h2>

  <form method="post" id="adForm" data-municipalities-url="{% url 'ajax_load_municipalities' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'ad_changelist' %}">Nevermind</a>
  </form>

  <div class="result"></div>

  <script>

      const baseURI = window.location.origin
      const request_url = document.getElementById('adForm')['attributes']['data-municipalities-url']['value']

      const province = document.getElementById('id_province');
      const municipalities = document.getElementById('id_municipality');

      province.addEventListener('change', (event) => {
        
        var xhr = new XMLHttpRequest();

        xhr.onload = function () {
          if (xhr.readyState === xhr.DONE) {
              if (xhr.status === 200) {
                  municipalities.innerHTML = xhr.response
              }
          }
        };

        xhr.open('GET',  baseURI + request_url, true);
        xhr.setRequestHeader('province', province.value)
        xhr.send();

      });



    // $("#id_province").change(function () {
    //   var url = $("#adForm").attr("data-municipalities-url");  // get the url of the `load_cities` view
    //   var provinceId = $(this).val();  // get the selected country ID from the HTML input

    //   $.ajax({                       // initialize an AJAX request
    //     url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    //     data: {
    //       'municipality': ProvinceId       // add the country id to the GET parameters
    //     },
    //     success: function (data) {   // `data` is the return of the `load_cities` view function
    //       $("#id_province").html(data);  // replace the contents of the city input with the data that came from the server
    //     }
    //   });

    // });
  </script>

{% endblock %}