{% extends '_base.html' %}

{% load static %}

{% block content %}
    

  {% block form_title %}
  <h2>Ny annons - Kontorshund erbjudes</h2>
  {% endblock form_title %}

  
  
  <form method="post" enctype="multipart/form-data" id="adForm" data-municipalities-url="{% url 'ajax_load_municipalities' %}" data-areas-url="{% url 'ajax_load_areas' %}" novalidate>
    {% csrf_token %}  

    <!-- {{ form.as_p }} -->

    {{ form.non_field_errors }}

    <div class="fieldWrapper">
      {{ form.province.errors }}
      {{ form.province.label_tag }}
      {{ form.province }}
    </div>

    <div class="fieldWrapper">
      {{ form.municipality.errors }}
      {{ form.municipality.label_tag }}
      {{ form.municipality }}
    </div>

    <div class="fieldWrapper">
      {{ form.area.errors }}
      {{ form.area.label_tag }}
      {{ form.area }}
    </div>

    <div class="fieldWrapper">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>

    <div class="fieldWrapper">
      {{ form.age.errors }}
      {{ form.age.label_tag }}
      {{ form.age }}
    </div>

    <div class="fieldWrapper">
      {{ form.title.errors }}
      {{ form.title.label_tag }}
      {{ form.title }}
    </div>

    <div class="fieldWrapper">
      {{ form.description.errors }}
      {{ form.description.label_tag }}
      {{ form.description }}
    </div>

    <div class="fieldWrapper">
      {{ form.days_per_week.errors }}
      {{ form.days_per_week.label_tag }}
      {{ form.days_per_week }}
    </div>

    <div class="fieldWrapper">
      {{ form.hundras.errors }}
      {{ form.hundras.label_tag }}
      {{ form.hundras }}
    </div>

    <div class="fieldWrapper">
      {{ form.size_offered.errors }}
      {{ form.size_offered.label_tag }}
      {{ form.size_offered }}
    </div>

    <div class="fieldWrapper">
      {{ form.image1.errors }}
      {{ form.image1.label_tag }}
      {{ form.image1 }}
    </div>

    <div class="fieldWrapper">
      {{ form.image2.errors }}
      {{ form.image2.label_tag }}
      {{ form.image2 }}
    </div>

    <div class="fieldWrapper">
      {{ form.image3.errors }}
      {{ form.image3.label_tag }}
      {{ form.image3 }}
    </div>

    <div class="fieldWrapper">
      {{ form.payment_type.errors }}
      {{ form.payment_type.label_tag }}
      {{ form.payment_type }}
    </div>



    <button type="submit">Publicera annons</button>

  </form>

</body>
{% endblock content %}

{% block footer %}

  {% comment %} Imports for managing Django Autocomplete Light in form {% endcomment %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
  <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
  <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}



  {% comment %} Functions for handling area selectors {% endcomment %}
  <script>
      function hide_area_field() {
        const area_selector = document.getElementById('id_area');
        area_selector.style.display = 'none';
      }

  </script>


<script type="text/javascript" charset="utf-8"> 

    /* Function for handling the province -> municipality dropdown dependencies */

    $(function(){ 
        // inspect html to check id of category select dropdown.
        $(document).on('change', "select#id_province", function(){ 
            $.getJSON("/ajax/load-municipalities/",{province: $(this).val()}, function(j){ 
                 var options = '<option value="">---------</option>'; 
                 for (var i = 0; i < j.length; i++) { 
                     options += '<option value="' + j[i].id + '">' + j[i].name + '</option>'; 
                 } 
                 // inspect html to check id of subcategory select dropdown.
                 $("select#id_municipality").html(options); 

                // Reset areas field 
                 var empty_options = '<option value="">---------</option>';
                 $("select#id_area").html(empty_options);  

             }); 
         }); 
     }); 



        /* Function for handling the municipality -> areas dropdown dependencies */
        
        $(function(){ 
            // inspect html to check id of category select dropdown.
            $(document).on('change', "select#id_municipality", function(){ 
                $.getJSON("/ajax/load-areas/",{municipality: $(this).val()}, function(j){ 
                     var options = '<option value="">---------</option>'; 
                     for (var i = 0; i < j.length; i++) { 
                         options += '<option value="' + j[i].id + '">' + j[i].name + '</option>'; 
                     } 
                     // inspect html to check id of subcategory select dropdown.
                     $("select#id_area").html(options); 
                 }); 
             }); 
         }); 


     </script>
     
{% endblock footer %}







