{% extends '_base.html' %}


<head>
  {% load static %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>
</head>

{% block content %}    

  {% block form_title %}
  <h2>Ny annons - Kontorshund erbjudes</h2>
  {% endblock form_title %}

  
  
  <form method="post" >
    {% csrf_token %}  
    {{ form.as_p }}
    <button type="submit">Publicera annons</button>
  </form>

</body>
{% endblock content %}

{% block footer %}



  <!-- Imports for managing Django Autocomplete Light in form  -->
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
  <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
  <script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  {{ form.media }}


{% endblock footer %}







