{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}


    <h1>Sök bland annonser</h1>

    <h5 class="mt-4">Välj vilken annonstyp du vill söka inom</h5>

    <div id"ad-search-type">
        <form name="ad-type-form">
            <input type="radio" id="ad-search-all"
            name="adtype" value="all" checked>
            <label for="ad-search-all" >Alla annonser</label>

            <input type="radio" class="ml-3" id="ad-search-offering"
            name="adtype" value="offering">
            <label for="ad-search-offering">Hund erbjudes</label>

            <input type="radio" class="ml-3" id="ad-search-searching"
            name="adtype" value="requesting">
            <label for="ad-search-searching">Hund sökes</label>
        </form>
    </div>


    <div class="mt-4" id="form-container">
    {% crispy form %}
    </div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3>Sökresultat <span id="ad_count_title"></span></h3>
        </div>
    </div>
</div>

 
    <div id="ad_selection"></div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button onclick="CommonFunction()" id="load_more_ads" class="btn btn-primary invisible">Ladda fler annonser</button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p id="no_more_ads"></p>    
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-3">
                <div id="loading"></div>    
            </div>
        </div>
    </div>

    



{% endblock content %}

{% block footer %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}


    <script>

        // Handling CSRF Cookies
        // The following function are copying from 
        // https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        const loader = document.getElementById('loading');

        // showing loading
        function displayLoading() {
        loader.classList.add("display");
        // to stop loading after some time
        setTimeout(() => {
            loader.classList.remove("display");
        }, 5000);
        }

        // hiding loading 
        function hideLoading() {
            loader.classList.remove("display");
        }




        
        // UPDATE SEARCH RESULTS WHEN USER CHANGE ANY FORM ELEMENT
        // id_province id_municipality id_area id_days_per_week id_size_offered id_hundras id_size_requested

            var articleOffset = 0;

            function CommonFunction() {
                  displayLoading()


                  // COLLECT VALUES FROM SELECT FIELDS

                  var province = $('#id_province').find(":selected").text();
                  var municipality = $('#id_municipality').find(":selected").text();
                  var area = $('#id_area').find(":selected").text();
                  var hundras = $('#id_hundras').find(":selected").text();
 
                  // COLLECT VALUES FROM CHECKBOX FIELDS 


                    var type_of_ad_selector = document.querySelectorAll('input[name="adtype"]:checked')
                    var type_of_ad = type_of_ad_selector[0].value


                     // Collect all values from all fields into one object
                     var checked_days_per_week = document.querySelectorAll('input[name="days_per_week"]:checked')
                     days_per_week_values = Array.prototype.slice.call(checked_days_per_week, 0)
                         .map(function(checkbox) {  // map iterates over the Array returned by Array.prototype.slice():
                             return checkbox.value;  // returning the value of the checked checkbox:
                         });
 
                     if (checked_days_per_week.length) {
                         days_per_week = days_per_week_values;
                     } else {
                         days_per_week = checked_days_per_week;
                     }
 
                     // Handling size_offered
                     var checked_size_offered = document.querySelectorAll('input[name="size_offered"]:checked')
                     size_offered_values = Array.prototype.slice.call(checked_size_offered, 0)
                         .map(function(checkbox) {  // map iterates over the Array returned by Array.prototype.slice():
                            return checkbox.parentElement.textContent.trim();  // returning the value of the label (as the value of checkbox isn't helping):
                         });
 
                     if (checked_size_offered.length) {
                         size_offered = size_offered_values;
                     } else {
                         size_offered = checked_size_offered;
                     }
 
                     // Handling size_requested
                     var checked_size_requested = document.querySelectorAll('input[name="size_requested"]:checked')
                     size_requested_values = Array.prototype.slice.call(checked_size_requested, 0)
                         .map(function(checkbox) {  // map iterates over the Array returned by Array.prototype.slice():
                            return checkbox.parentElement.textContent.trim();  // returning the value of the label (as the value of checkbox isn't helping):
                         });
 
                     if (checked_size_requested.length) {
                         size_requested = size_requested_values;
                     } else {
                         size_requested = checked_size_requested;
                     }
 
 
                     data = {
                         'type_of_ad': type_of_ad,
                         'province': province,
                         'municipality': municipality,
                         'area': area,
                         'hundras': hundras,
                         'days_per_week': days_per_week,
                         'size_offered': size_offered,
                         'size_requested': size_requested,
                         'offset': articleOffset,
                     }
  
                     
                 // Make POST request 

                    const url = "list";
                    let csrftoken = getCookie('csrftoken');

                    let response =  fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            "X-CSRFToken": csrftoken,
                        },
                        body: JSON.stringify(data),
                    })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        data_obj = JSON.parse(data)
                        if (data_obj.ads.length > 0) {
                            document.getElementById('ad_count_title').innerHTML=`- ${data_obj.total_ads} antal annonser`
                            for (var i = 0, total = data_obj.ads.length; i < total; i++) {
                                var compile_data;
                                
                                      
                                compile_data = `<div class="card" style="width: 20rem;"> 
                                    <a href="#"> <img class="card-img-top" src="${data_obj.ads[i].image_url}" alt="${data_obj.ads[i].title}-bild"> </a>
                                    <div class="card-body">
                                      <h5 class="card-title"><b>${data_obj.ads[i].is_offering_own_dog ? 'Hund erbjudes' : 'Hund sökes'}</b></h5>
                                      <h6 class="card-title">${data_obj.ads[i].title} ${data_obj.ads[i].pk}</h6>
                                      <h7 class="card-title">${data_obj.ads[i].province}/${data_obj.ads[i].municipality}${data_obj.ads[i].area ? `/${data_obj['ads'][i].area}` : ''} </h7>
                                    </div>
                                  </div>`                          
                          
                                $('#ad_selection').append(compile_data);

                                document.getElementById('load_more_ads').classList.remove('invisible')
                            }

                            /* update the offset */
                            articleOffset += 10
                            hideLoading()
                       
                        } else {
                            hideLoading()
                            ads_div = document.getElementById('ad_selection');
                            document.getElementById('load_more_ads').classList.add('invisible');
                            document.getElementById('no_more_ads').innerHTML = 'Inga fler annonser hittades';

                        }

                    });

            }


            // Handling change done on select-items
            $(document).on('change',
             'select[id="id_province"], select[id="id_municipality"], select[id="id_area"], select[id="id_hundras"], input[name="adtype"]', 
             function(){
                CommonFunction()
            });
            
            // Handling change done on checkbox-items
            $(document).on('click', 'input[name="days_per_week"], input[name="size_offered"], input[name="size_requested"]', function(){
                CommonFunction()
            });

            // Handling change done on type of ad
            $(document).on('change', 'input[name="adtype"]', function(){
                CommonFunction()
            });


            /* Infinite scrolling for fetching articles */
            {% comment %} var $window = $(window);
            function prodScrollPosition() {
                var distance = $window.scrollTop() + $window.height();
                if ($('body').height() <= distance && $('#ad_selection')) {
                    CommonFunction();
                }
            }

            $window.scroll(prodScrollPosition).scroll(); {% endcomment %}

            /* Manually initiate the first ajax request */
            CommonFunction();


        // Changing Form displyed based on users choice in Radio buttons
        $('input[name="adtype"]').change(function() {
            const url = "get-search-form";
            const data = {
                requested_form: $(this).val()
            };
            let csrftoken = getCookie('csrftoken');

            let response =  fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify(data),
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                const formContainer = document.getElementById("form-container");
                formContainer.innerHTML = data.form;
            });
        });


        {% include 'core/geographies_selectors.js' %}

    </script>

{% endblock footer%}








