{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}


    <h1>Sök bland annonser</h1>

    <h5 class="mt-4">Välj vilken annonstyp du vill söka inom</h5>

    <div id"ad-search-type">
        <form name="ad-type-form">
            <input type="radio" id="ad-search-all"
            name="adtype" value="all" checked>
            <label for="ad-search-all" >Alla annonser</label>

            <input type="radio" class="ml-3" id="ad-search-offering"
            name="adtype" value="offering">
            <label for="ad-search-offering">Hund erbjudes</label>

            <input type="radio" class="ml-3" id="ad-search-searching"
            name="adtype" value="requesting">
            <label for="ad-search-searching">Hund sökes</label>
        </form>
    </div>


    <div class="mt-4" id="form-container">
        {% crispy form %}
    </div>


    <h3>List of ads</h3>
    <div id="ad_selection">
        {% for ad in ads %}
            {{ ad }}
        {% endfor %}
    </div>
  
{% endblock content %}

{% block footer %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}


    <script>

        // Handling CSRF Cookies
        // The following function are copying from 
        // https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }



        
        
        // UPDATE SEARCH RESULTS WHEN USER CHANGE ANY FORM ELEMENT
        // id_province id_municipality id_area id_days_per_week id_size_offered id_hundras id_size_requested


            function CommonFunction() {
                  // COLLECT VALUES FROM SELECT FIELDS

                  var province = $('#id_province').find(":selected").text();
                  var municipality = $('#id_municipality').find(":selected").text();
                  var area = $('#id_area').find(":selected").text();
                  var hundras = $('#id_hundras').find(":selected").text();
 
                  // COLLECT VALUES FROM CHECKBOX FIELDS 


                    var type_of_ad_selector = document.querySelectorAll('input[name="adtype"]:checked')
                    var type_of_ad = type_of_ad_selector[0].value


                     // Collect all values from all fields into one object
                     var checked_days_per_week = document.querySelectorAll('input[name="days_per_week"]:checked')
                     days_per_week_values = Array.prototype.slice.call(checked_days_per_week, 0)
                         .map(function(checkbox) {  // map iterates over the Array returned by Array.prototype.slice():
                             return checkbox.value;  // returning the value of the checked checkbox:
                         });
 
                     if (checked_days_per_week.length) {
                         days_per_week = days_per_week_values;
                     } else {
                         days_per_week = checked_days_per_week;
                     }
 
                     // Handling size_offered
                     var checked_size_offered = document.querySelectorAll('input[name="size_offered"]:checked')
                     size_offered_values = Array.prototype.slice.call(checked_size_offered, 0)
                         .map(function(checkbox) {  // map iterates over the Array returned by Array.prototype.slice():
                            console.log() 
                            return checkbox.parentElement.textContent.trim();  // returning the value of the label (as the value of checkbox isn't helping):
                         });
 
                     if (checked_size_offered.length) {
                         size_offered = size_offered_values;
                     } else {
                         size_offered = checked_size_offered;
                     }
 
                     // Handling size_requested
                     var checked_size_requested = document.querySelectorAll('input[name="size_requested"]:checked')
                     size_requested_values = Array.prototype.slice.call(checked_size_requested, 0)
                         .map(function(checkbox) {  // map iterates over the Array returned by Array.prototype.slice():
                            return checkbox.parentElement.textContent.trim();  // returning the value of the label (as the value of checkbox isn't helping):
                         });
 
                     if (checked_size_requested.length) {
                         size_requested = size_requested_values;
                     } else {
                         size_requested = checked_size_requested;
                     }
 
 
                     data = {
                         'type_of_ad': type_of_ad,
                         'province': province,
                         'municipality': municipality,
                         'area': area,
                         'hundras': hundras,
                         'days_per_week': days_per_week,
                         'size_offered': size_offered,
                         'size_requested': size_requested,
                     }
 
                     console.log(data)
 
                     
                 // Make POST request 

                    const url = "list";
                    let csrftoken = getCookie('csrftoken');

                    let response =  fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            "X-CSRFToken": csrftoken,
                        },
                        body: JSON.stringify(data),
                    })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        console.log(data)
                        //const formContainer = document.getElementById("form-container");
                        //formContainer.innerHTML = data.form;
                    });
 
                 // Retrieve data with relevant ads
 
                 // Put ads into container
            }


            // Handling change done on select-items
            $(document).on('change',
             'select[id="id_province"], select[id="id_municipality"], select[id="id_area"], select[id="id_hundras"], input[name="adtype"]', 
             function(){
                CommonFunction()
            });
            
            // Handling change done on checkbox-items
            $(document).on('click', 'input[name="days_per_week"], input[name="size_offered"], input[name="size_requested"]', function(){
                CommonFunction()
            });

            // Handling change done on type of ad
            $(document).on('change', 'input[name="adtype"]', function(){
                CommonFunction()
            });



        // Changing Form displyed based on users choice in Radio buttons
        $('input[name="adtype"]').change(function() {
            const url = "get-search-form";
            const data = {
                requested_form: $(this).val()
            };
            let csrftoken = getCookie('csrftoken');

            let response =  fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    "X-CSRFToken": csrftoken,
                },
                body: JSON.stringify(data),
            })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                const formContainer = document.getElementById("form-container");
                formContainer.innerHTML = data.form;
            });
        });


        {% include 'core/geographies_selectors.js' %}

    </script>

{% endblock footer%}








