{% extends '_base.html' %} {% block content %} 

<p></p>
<h1>Användarvillkor & GDPR </h1>

<p>information – Förhållande mellan Guttae AB (kontorshund.se) samt Kunder som
    använder sigan Dessa villkor beskriver villkor för kunder (I detta dokument kallat
    ”Kunden/Kunder”) som använder www.kontorshund.se (ägs av Guttae AB, 559266-9948)
    (I detta dokument kallat ”Företaget”) hanterar användarnas data.</p>

<br />
<b>Ansvar</b>
<br />

<p>
  1. Företaget är endast en förmedlare i att erbjuda Kunder möjlighet att lägga
  upp annonser för att erbjuda/hitta en kontorshund. Detta innebär att bolaget
  ej är ansvarigt för vad som händer i relationen som olika Kunder har
  sinsemellan varandra.
</p>
<br />

<b>Datahantering – GDPR</b>
<br />

<p>
  1. Företaget behöver lagra information om Kunden i form av e-post adress, då
  detta är den primära identifieringsformen för att kunna skapa ett konto på
  sidan. Denna information fås från kunden vid skapandet av ett konto, som
  antingen görs direkt via mailadressen eller mha. Sociala medier - under båda
  former sparas kundens e-postadress i företagets databaser.
</p>
<br />

<p>
  2. Företaget samlar in analytisk information om kunden, så tillvida att detta
  har godkänts av kunden, vilket görs i en ruta när Kunden besöker sidan första
  gången. Denna data används för att se vilka kanaler som Företagets
  Kunder når hemsidan via, t.ex. via Annonser, sökresultat på Google, etc. Denna
  data ger också Företaget inblick i de geografiska platser som Företagets
  Kunder kommer ifrån.
</p>
<br />

<p>
  3. Kundens E-post adress används primärt för att skicka meddelanden till
  Kunden om dennes annonser, t.ex. när löptiden har gått ut, och då erbjuda en
  möjlighet att förlänga annonsens löptid. En Kund kan närsomhelst välja att
  avregistrera sig från mailutskick, vilket enkelt kan göras via att klicka på
  en länk i meddelandet.
</p>
<br />

<p>
  4. Uppgifterna ovan kommer samlas in från Kunden via registreringssidan på
  www.kontorshund.se
</p>
<br />

<p>
  5. Företaget tillämpar vid var tid gällande integritetslagstiftning vid all
  behandling av personuppgifter. Den rättsliga grunden för att behandla Kundens
  personuppgifter är Samtycke från Kunden som ges i samband med att denna
  registrerar ett konto på sidan. Kunden har när som helst rätt att återkalla
  sitt samtycke till behandlingen och kräva att sparad data tas bort. Kunden kan
  under sin profil på sidan ta bort sitt konto, vilket tar bort alla kundens
  uppgifter från företagets databas. Ett återkallande påverkar inte lagligheten
  av behandlingen innan samtycket återkallades.
</p>
<br />

<p>
  6. Företaget kommer ej dela kundens information till tredje part, utan används
  endast för eget bruk. Enda tillfället är om Företaget skulle vara skyldiga att
  göra detta enligt Svensk Lagstiftning. Företaget kommer däremot aldrig att
  förmedla Kundens uppgifter till ett land utanför EU.
</p>
<br />

<p>7. Uppgifterna sparas som längst 3 år efter den senaste annonsen.</p>
<br />

<p>
  8. Ansvarig för personuppgifter är Guttae AB (559266-9948) som kan kontaktas
  på info@kontorshund.se Kunden har rätt att kontakta Företaget om denne vill ha
  ut information om de uppgifter som denne har om Kunden, för att begära
  rättelse, överföring eller för att begära att Företaget begränsar
  behandlingen, för att göra invändningar eller begära radering av Kundens
  uppgifter. Om Kunden har klagomål på Företagets behandling av personuppgifter
  har denne rätt att inge klagomål till tillsynsmyndigheten Datainspektionen.
</p>

{% endblock content %}
