#unpublished {
    background-color: lightgray;
    padding: 30px;
    margin: 50px;
}

#unpublished_h2 {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

#button_max_width {
    width: 150px;
}

#h1_new_ad {
    text-align: center;
}




h1 {
    font-family: 'Barlow Condensed', sans-serif;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    margin: 0;
}

#ad_description_snippet {

    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fcfcfc;
    font-family: sans-serif;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    margin-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    padding: 5px;

    border-radius: 50%;

}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;

}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu{
  float: right;

}

.footer-menu ul{
  display: flex;
}

.footer-menu ul li{
padding-right: 10px;
display: block;
}

.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover{
  color: #27bcda;
}




@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

    .carousel-item img {
        object-fit: contain;
        height: 200px;;
        width:100%;
      }
    
    #choose_options {
        margin-bottom: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    
    }
    
    #choose_options img {
        margin-top: 30px;
        width: 350px;
    }


}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 




    .carousel-item img {
        object-fit: contain;
        height: 400px;;
        width:100%;
      }
    
      #choose_options img {
        margin-top: 30px;
        width: 500px;
    }
    
    .footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

    .carousel-item img {
        object-fit: contain;
        height: 400px;;
        width:100%;
      }
    
      #choose_options img {
        margin-top: 30px;
        width: 700px;
    }


}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 

    #choose_options img {
        margin-top: 30px;
        width: 500px;
        padding: 10px;
    }


}
