{% extends '_base.html' %}


{% block content %}

<h1>Betala för din annons via Bankgiro</h1>


<p>Betala din annons genom att överföra: </p>
    
<p><b>{{ price }}</b> </p>
    
    <p>till bankgiro: </p>

<p>
    <b>
    5532-6763
    </b>
</p>

<p>Med meddelande </p>
<p><b>Den e-post du registrerat ditt konto med samt ditt annons-nummer: {{ pk }}</b> </p>

<br>

<p>BG tillhör Guttae AB (559266-9948)</p>

<p>Vi aktiverar oftast din annons inom 72 timmar från dess att din annons inkommit till oss, om din annons inte blivit aktiverad inom 48 timmar är du välkommen att kontakta oss på <a href = "mailto: info@kontorshund.se">info@kontorshund.se</a>
    med ditt annonsnummer.</p>

<p>Du kan hitta tillbaka till denna sida via knappen "BG-Betalning" på din annons om du skulle behöva.</p>

<br>

<button type="button">
    <a href="{{ ad_path }}">Till din annons</a>
</button>

{% endblock content %}