{% extends '_base.html' %}


{% block content %}

<h1>Betala för din annons via Bankgiro</h1>

<div class="bg-text">
    <br>
    <br>

    <a class="btn btn-secondary" href="javascript:history.back()">Gå tillbaka</a>
    <br>
    <br>



    <p><u> Betala din annons genom att överföra:</u> </p>
        
    <p>{{ price }}</p>
    <br>
    <p><u> till bankgiro:</u> </p>
    <p>5532-6763</p>
    <br>
    <p><i> Bankgirot tillhör Guttae AB (Org. nummer: 559266-9948)</i></p>


    <br>
    <p><u> Med meddelande</u> </p>
    <p>Din@epost.com, Annons-nummer: {{ pk }} </p>

    <br>
    <br>
    <br>
    <br>


    <p>Vi aktiverar oftast din annons inom 72 timmar från dess att din annons inkommit till oss, om din annons inte blivit aktiverad inom 48 timmar är du välkommen att kontakta oss på <a href = "mailto: info@kontorshund.se">info@kontorshund.se</a>
        med ditt annonsnummer.</p>

    <p>Du kan hitta tillbaka till denna sida via knappen "BG-Betalning" på din annons om du skulle behöva.</p>

    <br>
    <br>
    <br>

</div>

<a class="btn btn-success" href="{{ ad_path }}">Gå till din annons</a>


{% endblock content %}