{% extends '_base.html' %}


{% block content %}


<div id="button-container">
  {% if current_end_date %}
    <h1>Förläng din annons "{{ title }}" från <b>{{ current_end_date }}</b> till <b>{{ new_end_date }}</b></h1>
  {% else %}
    <h1>Betala för annons "{{ title }}" med Swish</h1>
  {% endif %}

  <h2 class="mt-5">Om du sitter vid en dator &#128187;</h2>
  <p>Genom att klicka på knappen nedan, öppnas en QR kod för en Swish betalning om <b>{{ price }}.</b> </p>
  <p>OBS. Varje QR kod kan endast användas en gång, slutar den att fungera är det bara trycka på knappen igen.</p>
  <button id="generate-qr" class="btn btn-primary mt-4">Generera Swish-QR-kod </button>
  <br>
  <img class="mt-3 mb-3" id="captchaImg" />

  <h2 class="mt-5">Om du öppnat sidan via en mobiltelefon &#128241; </h2>
  <p>Öppna Swish-appen i din telefon, välj QR-kod och rikta kameran mot QR-koden och utför betalningen.</p>
  <p>När du godkänt betalningen i din telefon, skickas du automatiskt till den publicerade annonsen.</p>
  <button id="open-swish" class="btn btn-primary mt-4">Öppna Swish app på denna enhet</button>
  <br>
  <button id="completed-payment" class="mt-3 btn btn-warning invisible">Jag har betalt </button>
  
  <p id="payment-status"></p>
  <br>
  <h3 class="mt-5">Har du betalt och kontrollerat att betalningen gått fram?</h3>
  <a class="btn btn-success" href="{{ ad_path }}" role="button"> Till din annons</a>
</div>



{% endblock content %}


{% block footer %}
  <script>

      ///////////////////////////
      /* "PAYMENT-DONE" BUTTON */
      ///////////////////////////


      function show_completed_payment_button() {
        const completed_payment = document.getElementById('completed-payment');
        completed_payment.classList.remove('invisible')
      }
      
        // Creating the request
        const completed_payment_button = document.getElementById('completed-payment');
        const status_field = document.getElementById('payment-status')


        completed_payment_button.addEventListener('click', (event) => {

          // CSRF Set-up
          let cookie = document.cookie
          let csrftoken = cookie.substring(cookie.indexOf('=') + 1)

          var xhr_complete = new XMLHttpRequest();
          
          xhr_complete.onload = function () {
            if (xhr_complete.readyState === xhr_complete.DONE) {
                if (xhr_complete.status === 200) {
                 
                  status_field.innerHTML = 'Annonsen är betald!'
                  status_field.style.color = 'green'

                 
                } 
                else {
                  status_field.innerHTML = 'Annonsen är INTE betald, dubbelkolla så att betalningen gått igenom i din Swish-app! Problem? Maila oss på <a href="mailto:info@kontorshund.se">info@kontorshund.se</a> '
                }
            }
          };

          {% if current_end_date %}
            xhr_complete.open('POST',  "{% url 'check_extended_payment_status' pk %}", true);
          {% else %}
            xhr_complete.open('POST',  "{% url 'check_initial_payment_status' pk %}", true);
          {% endif %}
          xhr_complete.setRequestHeader("X-CSRFToken", csrftoken); 
          xhr_complete.setRequestHeader("Content-Type", "text/plain;charset=UTF-8"); 
          xhr_complete.send();

        });
        

      ////////////////////////////
      /* MAKE PAYMENT VIA PHONE */
      ////////////////////////////

      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        const open_swish_button = document.getElementById('open-swish');

        open_swish_button.addEventListener('click', (event) => {

            // CSRF Set-up
            let cookie = document.cookie
            let csrftoken = cookie.substring(cookie.indexOf('=') + 1)
            var xhr_token = new XMLHttpRequest();

            // Runs when token have been retrieved
            xhr_token.onload = function () {
              if (xhr_token.readyState === xhr_token.DONE) {
                  if (xhr_token.status === 201) {
                    
                    // Display button - "I have completed payment"
                    show_completed_payment_button()
                    
                    // Get variables from token response and open swish-app on ios/android
                    var response = JSON.parse(xhr_token.response)
                    var token = response['token']
                    var callback_url = response['callback_url']

                    if( /iPhone|iPad|iPod/i.test(navigator.userAgent) ) {
                      window.location = `swish://paymentrequest?token=${token}&callbackurl=`;
                    } else {
                        var host = window.location.protocol + "//" + window.location.host;
                        var redirect_url = `${host}/swish-successfull-android`
                        window.location = `swish://paymentrequest?token=${token}&callbackurl=${redirect_url}`
                      }
                  }
              }
            };

            // Retrieve token
            xhr_token.open('POST',  "{% url 'swish_request_token' pk %}", true);
            xhr_token.setRequestHeader("X-CSRFToken", csrftoken); 
            xhr_token.setRequestHeader("Content-Type", "text/plain;charset=UTF-8"); 
            xhr_token.send();

          });

      }

      /////////////////////////
      /* GENERATING QR CODE */
      ////////////////////////


      const submit_button = document.getElementById('generate-qr');
      submit_button.addEventListener('click', (event) => {

        // CSRF Set-up
        let cookie = document.cookie
        let csrftoken = cookie.substring(cookie.indexOf('=') + 1)

        var xhr_qr = new XMLHttpRequest();
        xhr_qr.responseType = "arraybuffer";
        
        xhr_qr.onload = function () {
          if (xhr_qr.readyState === xhr_qr.DONE) {
              if (xhr_qr.status === 200) {
                
                // Generate QR-Code and display on site
                document.getElementById("captchaImg").setAttribute('src', 'data:image/png;base64,' + btoa(String.fromCharCode.apply(null, new Uint8Array(xhr_qr.response))));

                // Display button - "I have completed payment"
                show_completed_payment_button()

              }
          }
        };
        xhr_qr.open('POST',  "{% url 'swish_payment_qr_code' pk %}", true);
        xhr_qr.setRequestHeader("X-CSRFToken", csrftoken); 
        xhr_qr.setRequestHeader("Content-Type", "text/plain;charset=UTF-8"); 
        xhr_qr.send();

      });


  </script>

{% endblock footer %}