{% load static %}


<!DOCTYPE html>
<html>

<head>
  {% block header %}

  {% endblock header %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

  <title>{% block title %}Kontorshund{% endblock title %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'local_static/core/base.css' %}">
  
  {% comment %} FONTS {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;800&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <!-- Fixed navbar -->

    <img src="https://kontorshund.eu-central-1.linodeobjects.com/testbg.png" width="100%" style="width: 100%%;" alt="">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4
     mb-3 bg-white border-bottom shadow-sm">

      <a href="{% url 'index' %}" class="navbar-brand my-0 mr-md-auto
      font-weight-normal">Kontorshund</a>

      <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'profile' %}">Din profil</a>
        {% endif %}
        <a class="p-2 text-dark" href="{% url 'list_postings' %}">Annonser</a>

        <a class="p-2 text-dark" href="{% url 'choose_ad_type' %}">Skapa annons</a>

        {% if user.is_authenticated %}
          <a class="p-2 text-dark" href="{% url 'account_logout' %}">Logga ut</a>
        {% else %}
          <a class="p-2 text-dark" href="{% url 'account_login' %}">Logga in</a>
          <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Registrera</a>
        {% endif %}
      </nav>

    </div>

  </header>

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  
  <!-- JavaScript -->
  <!-- JS, Popper.js, and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

  
</body>

<footer>

{% block footer %}

{% endblock footer %}

<div class="footer-content">
    <h3>Kontorshund</h3>
    <p>Kontorshund erbjuder en annonsplats där människor som antingen har en hund eller söker en hund att umgås med några dagar per vecka kan mötas. Kontorshund är en websida ägd av Guttae AB - 559266-9948. </p>
    <ul class="socials">
        <li><a href="https://fb.me/kontorshund" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="mailto: info@kontorshund.se"><i class="fa fa-envelope"></i></a></li>
    </ul>
</div>
<div class="footer-bottom">
    <p>copyright Kontorshund - Guttae AB  </p>
</div>
</footer>



</html>