{% load static %}
{% load cookielaw_tags %}

<!DOCTYPE html>
<html>

<head>
  <link rel="icon" type="image/x-icon" href="https://kontorshund.eu-central-1.linodeobjects.com/static/local_static/core/favicon.ico">

  {% if cookielaw.accepted %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KZLXQRFD87"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KZLXQRFD87');
    </script>
  {% endif %}

  
  {% block header %}


  {% endblock header %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--  Essential META Tags -->
  <meta property="og:title" content="Kontorshund">
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://kontorshund.eu-central-1.linodeobjects.com/small_banner.jpg">
  <meta property="og:url" content="https://www.kontorshund.se">
  <meta name="twitter:card" content="summary_large_image">

  <!--  Non-Essential, But Recommended -->
  <meta property="og:description" content="Där hundägare och de som vill ta hand om en hund då och då kan mötas.">
  <meta property="og:site_name" content="Kontorshund.se">
  <meta name="twitter:image:alt" content="Kontorshund">

  <!--  Non-Essential, But Required for Analytics -->
  {% comment %} <meta property="fb:app_id" content="your_app_id" /> {% endcomment %}
  {% comment %} <meta name="twitter:site" content="@website-username"> {% endcomment %}
  
  
  <title>{% block title %}Kontorshund{% endblock title %}</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'local_static/core/base.css' %}">
  
  {% comment %} FONTS {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;800&display=swap" rel="stylesheet">

</head>

<body>
    {% cookielaw_banner %}

  <header>
    <!-- Fixed navbar -->
      
    <picture>
      <source media="(max-width: 999px)" srcset="https://kontorshund.eu-central-1.linodeobjects.com/small_banner.jpg">
      <source media="(min-width: 1000px)" srcset="https://kontorshund.eu-central-1.linodeobjects.com/wide_banner.jpg">
      <img src="https://kontorshund.eu-central-1.linodeobjects.com/wide_banner.jpg" width="100%" alt="Kontorshund.se">
    </picture>


    <div class="my-nav-container">


    <nav class="">

      <ul>


        
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="p-2 text-dark" href="{% url 'profile' %}">Din profil</a>
          </li>
        {% endif %}


        <li class="nav-item">
          <a class="p-2 text-dark" href="{% url 'list_postings' %}">Alla Annonser</a>
        </li>

        <li class="nav-item">
          <a class="p-2 text-dark" href="{% url 'choose_ad_type' %}">Skapa annons</a>
        </li>

        <li class="nav-item">
          <a class="p-2 text-dark" href="{% url 'about' %}">Om oss</a>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="p-2 text-dark" href="{% url 'account_logout' %}">Logga ut</a>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="p-2 text-dark" href="{% url 'account_login' %}">Logga in</a>
          </li>


          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Registrera</a>
          </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="nav-item ml-4">
          <p class="text-info">{{ user.email }}</p>
        </li>
      {% endif %}

      </ul>
    </nav>

  </div>



  </header>

  {% include 'core/profile/includes/messages.html' %}

  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  
  <!-- JavaScript -->
  <!-- JS, Popper.js, and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>

  <script src="{% static 'cookielaw/js/cookielaw.js'%} "></script>
  
</body>

<footer>

{% block footer %}

{% endblock footer %}

<div class="footer-content">
    <h3>Kontorshund</h3>
    <p>Kontorshund erbjuder en annonsplats där människor som antingen har en hund eller söker en hund att umgås med några dagar per vecka kan mötas. Kontorshund är en websida ägd av Guttae AB - 559266-9948. </p>
    <a href="{% url 'privacy' %}">Användarvillkor och GDPR information</a>
    <ul class="socials">
        <li><a href="https://fb.me/kontorshund" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="mailto: info@kontorshund.se"><i class="fa fa-envelope"></i></a></li>
    </ul>
</div>
<div class="footer-bottom">
    <p>copyright Kontorshund - Guttae AB  </p>
</div>
</footer>



</html>