<h1>Betala för annons "{{ title }}" med Swish</h1>

<form method="POST" action={% url 'swish_payment' {{ pk }} %}>

    {% csrf_token %}
    {{ form }}

    <p>Genom att klicka på knappen nedan, skapas en betalning om <b>{{ price }}</b> i din Swish app.</p>
    <p>När du godkänt betalningen i din telefon, skickas du automatiskt till den publicerade annonsen.</p>

    <button type="submit">Skapa swish betalning </button>
    

</form>

<!-- When pressed button submit-make AJAX request to /Swish-payment -->
