{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}



{% block title %}Kontorshund - Profil{% endblock title %}

{% block content %}



  <h1 id="h1_new_ad" class="mb-2 ">Din profil</h1>

  <div id="center-align-container" class="mb-4">
  <p>{{ user.email }}</p>
  </div>

  <hr style="height:1px;border:none;color:#333;background-color:#333;">

  <div id="center-align-container" class="mb-4">
    <p>
      <a class="btn btn-primary btn-lg mt-3 mb-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Dina bevakningar &#128233;
      </a>
      <p class="mb-4">Här kan du skapa bevakningar av nya annonser och få ett mail antingen veckovis eller dagligen när det kommit upp nya annonser som matchar dina kriterier. Du kan närsomhelst gå in här och aktivera/inaktivera dina bevakningar.</p>
    </p>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      
        <div id="center-align-container" class="mb-4">
          
      
          <h3 class="">Dina bevakningar 
      
            {% if news_email_obj.is_active %}
                <span id="heading_subscription_status">
                &#128236;
                (Aktiv)
                </span>
                {% else %}
                <span id="heading_subscription_status">
                  &#128237;
                  (Inaktiv)
                </span>
            {% endif %}
      
          </h3>
      
        </div>
        {% load crispy_forms_tags %}
      
      
        <div id="center-align-container" class="mb-4">
          {% if news_email_obj.is_active %}
            <button id="cancel-subscription-button" class="btn btn-danger mr-2">Deaktivera bevakningar</button>
          {% else %}
            <button id="cancel-subscription-button" class="btn btn-success ml-2">Aktivera bevakningar</button>
          {% endif %}
        </div>
      
        <form method="post" enctype="multipart/form-data" id="adForm" data-municipalities-url="{% url 'ajax_load_municipalities' %}" data-areas-url="{% url 'ajax_load_areas' %}" novalidate>
        
          {% csrf_token %}  
      
      
            <div style="display: flex; flex-wrap: wrap;">
              <div class="form-group col-lg-2 mb-0">
                {{ form.province|as_crispy_field }}
              </div>
      
              <div class="form-group col-lg-2 mb-0">
                {{ form.municipality|as_crispy_field }}
              </div>
      
              <div class="form-group col-lg-3 mb-0">
                {{ form.areas|as_crispy_field }}
              </div>
      
              <div class="form-group col-lg-2 mb-0">
                {{ form.interval|as_crispy_field }}
              </div>
      
              <div class="form-group col-lg-2 mb-0">
                {{ form.ad_type|as_crispy_field }}
              </div>
      
              <div class="form-group col-lg-1 mt-5 mb-0">
                <div id="center-align-container" class="mb-4">
                  <button type="submit" class="btn btn-primary">Spara</button>
                </div>
              </div>
      
            </div>
      
        </form>



    </div>
  </div>


  <div id="center-align-container" class="mb-4">

  <hr style="height:1px;border:none;color:#333;background-color:#333;">
  
  <h3 class="mb-5 mt-5">Dina annonser &#128203; </h3>


    <h5 class="mb-5"><u>Publicerade</u> annonser ({{ published_ads.count }} st)</h5>

    {% for ad in published_ads %}
    

      <div class="card mb-5 profile-ad-list">
        <h6 class="card-header text-center">
          {% if ad.ad_kind == 'OF' %}
          Hund erbjudes
          {% else %}
          Hund sökes
          {% endif %}
        </h6>
        <a href="{{ ad_url }}{{ ad.id }}">
          {% if ad.image1 %}
          <img class="card-img-top" src=" {{ ad.image1.thumbnail.url }}" alt="published ad">
          {% endif %}
        </a>
          <div class="card-body">
          <h5 class="card-title">{{ ad.title }}</h5>
          <hp class="card-text">Giltig till {{ ad.deletion_date }}</hp>
          <p id="ad_description_snippet" class="card-text">{{ ad.description }}</p>
          <div id="center-align-container">
            <a href="{{ ad_url }}{{ ad.id }}" class="btn btn-primary mb-3">Gå till annons</a>
            <br>
            <a href="{% url 'swish_payment_extended_template' ad.id %}"><button class="btn btn-success mb-3">Förläng</button></a>
            <a href="{% url 'update_ad_offering_dog' ad.id %}"><button class="btn btn-secondary mb-3">Ändra</button></a>
            <a href="{% url 'delete_ad' ad.id %}"><button class="btn btn-danger mb-3">Ta bort</button></a>
          </div>
        </div>
      </div>

    {% endfor %}

    <h5 class="mb-5 mt-5"><u>Opublicerade</u> annonser ({{ unpublished_ads.count }} st) </h5>

    {% for ad in unpublished_ads %}


    <div class="card mb-5 profile-ad-list">
      <h6 class="card-header text-center">
        {% if ad.ad_kind == 'OF' %}
        Hund erbjudes
        {% else %}
        Hund sökes
        {% endif %}
      </h6>
      <a href="{{ ad_url }}{{ ad.id }}">
        {% if ad.image1 %}
          <img class="card-img-top" src=" {{ ad.image1.thumbnail.url }}" alt="published ad">
        {% endif %}
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ ad.title }}</h5>
        <hp class="card-text">Giltig till {{ ad.deletion_date }}</hp>
        <p id="ad_description_snippet" class="card-text">{{ ad.description }}</p>
        <div id="center-align-container">
            <a href="{{ ad_url }}{{ ad.id }}" class="btn btn-primary mb-3">Gå till annons</a>
            <br>
            <a href="{% url 'swish_payment_initial_template' ad.id %}"><button class="btn btn-success mb-3">Betala</button></a>
            <a href="{% url 'update_ad_offering_dog' ad.id %}"><button class="btn btn-secondary mb-3">Ändra</button></a>
            <a href="{% url 'delete_ad' ad.id %}"><button class="btn btn-danger mb-3 ">Ta bort</button></a>
        </div>
      </div>
    </div>

    {% endfor %}


    <h5 class="mb-5 mt-5"><u>Borttagna</u> annonser ({{ deleted_ads.count }} st) </h5>

    {% for ad in deleted_ads %}


    <div class="card mb-5 profile-ad-list">
      <h6 class="card-header text-center">
        {% if ad.ad_kind == 'OF' %}
        Hund erbjudes
        {% else %}
        Hund sökes
        {% endif %}
      </h6>
      <a href="{{ ad_url }}{{ ad.id }}">
        {% if ad.image1 %}
          <img class="card-img-top" src=" {{ ad.image1.thumbnail.url }}" alt="deleted ad">
        {% endif %}
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ ad.title }}</h5>
        <p id="ad_description_snippet" class="card-text">{{ ad.description }}</p>
        <div id="center-align-container">
            <a href="{{ ad_url }}{{ ad.id }}" class="btn btn-primary mb-3">Gå till annons</a>
            <br>
            <a href="{% url 'swish_payment_extended_template' ad.id %}"><button class="btn btn-success mb-3">Förläng</button></a>
            <a href="{% url 'update_ad_offering_dog' ad.id %}"><button class="btn btn-secondary mb-3">Ändra</button></a>
        </div>
      </div>
    </div>

    {% endfor %}

    <hr style="height:1px;border:none;color:#333;background-color:#333;">
  <h3 class="mb-3 mt-5">Hantera din profil  &#128054;</h3>
  <br>
  <h4 class="mt-4 mb-3">Ta bort din profil &#10060;</h4>
  <a href="{% url 'deactivate_account' %}"><button class="btn btn-danger mb-3">Ta bort din profil</button></a>
</div>




{% endblock content %}


{% block footer %}

<!-- Area selectors -->
  <script>
      function hide_area_field() {
        const area_selector = document.getElementById('id_area');
        area_selector.style.display = 'none';
      }

  </script>


<script type="text/javascript" charset="utf-8"> 

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  

  const cancel_subscription_button = document.getElementById('cancel-subscription-button');


  cancel_subscription_button.addEventListener("click", function(e) {
      e.preventDefault();

      var xhr_cancel_subscription = new XMLHttpRequest();

      const csrftoken = getCookie('csrftoken');
          
      xhr_cancel_subscription.onload = function () {

        if (xhr_cancel_subscription.readyState === xhr_cancel_subscription.DONE) {
            if (xhr_cancel_subscription.status === 200) {
                
                if (xhr_cancel_subscription.response.includes("Activated")) {
                  const cancel_subscription_button = document.getElementById('cancel-subscription-button');
                  const heading_subscription_status = document.getElementById('heading_subscription_status');
                  cancel_subscription_button.innerHTML = "Inaktivera bevakningar"
                  cancel_subscription_button.classList.remove('btn-success')
                  cancel_subscription_button.classList.add('btn-danger')
                  heading_subscription_status.innerHTML = "&#128236; (Aktiv)"
                }
                if (xhr_cancel_subscription.response.includes("Deactivated")) {
                  const cancel_subscription_button = document.getElementById('cancel-subscription-button');
                  const heading_subscription_status = document.getElementById('heading_subscription_status');
                  cancel_subscription_button.innerHTML = "Aktivera bevakningar"
                  cancel_subscription_button.classList.remove('btn-danger')
                  cancel_subscription_button.classList.add('btn-success')
                  heading_subscription_status.innerHTML = "&#128237; (Inaktiv)"
                  
                }
            } 
        }
      };
      xhr_cancel_subscription.open('POST',  "{% url 'handle_email_subscription_status' news_email_obj.uuid %}", true);
      xhr_cancel_subscription.setRequestHeader("X-CSRFToken", csrftoken); 
      xhr_cancel_subscription.setRequestHeader("mode", 'same-origin'); 
      xhr_cancel_subscription.send();

    });



    /* Function for handling the province -> municipality dropdown dependencies */

    $(function(){ 
        // inspect html to check id of category select dropdown.
        $(document).on('change', "select#id_province", function(){ 
            $.getJSON("/ajax/load-municipalities/",{province: $(this).val()}, function(j){ 
                 var options = '<option value="">---------</option>'; 
                 for (var i = 0; i < j.length; i++) { 
                  options += '<option value="' + j[i].id + '">' + j[i].name + '</option>'; 
                } 
                 // inspect html to check id of subcategory select dropdown.
                 $("select#id_municipality").html(options); 

                 var empty_options = '<option value="--------"</option>'; 

                  $("select#id_areas").html(empty_options); 

 

             }); 
         }); 
     }); 


    /* Function for handling the municipality -> areas dropdown dependencies */
    $(function(){ 
        // inspect html to check id of category select dropdown.
        $(document).on('change', "select#id_municipality", function(){ 
            $.getJSON("/ajax/load-areas/",{municipality: $(this).val()}, function(j){ 
                  var options = ''; 
                  for (var i = 0; i < j.length; i++) { 
                    options += '<option value="' + j[i].id + '">' + j[i].name + '</option>'; 
                  } 
                  // inspect html to check id of subcategory select dropdown.
                  $("select#id_areas").html(options); 
              }); 
          }); 
      }); 

   

  </script>
     
{% endblock footer %}

