{% extends '_base.html' %}


{% block header %}
<body onload="hide_email_button()">

{% endblock header %}

{% block title %}Kontorshund - Annons{% endblock title %}


{% block content %}

<a class="btn btn-secondary" href="javascript:history.back()">Gå tillbaka</a>

<br>
<br>

    {% if ad.is_offering_own_dog %}
        <h1>Hund erbjudes</h1>
    {% else %}
        <h1>Hund sökes</h1>
    {% endif %}

    {% if not ad.is_published %}

        {% if ad.author == request.user %}


                {% if ad.is_deleted %}

                 {% include 'core/ads/templates/handle_deleted_ad.html' %}
                 <div id="unpublished">
                    {% include 'core/ads/templates/ad_content_template.html' %}
                    {% include 'core/ads/templates/ad_contact_author.html' %}
                </div>    
                

                {% else %}
        
                    {% if ad.has_initial_payment == False %}
                        <p>Denna annons tillhör dig och är ännu <b>Opublicerad</b></p>
                        {% include 'core/ads/templates/handle_unpaid_ad.html' %}
                    {% else %}
                        <p class="mb-3">Din annons har betalstatus <b> Betald </b> Något har gått snett då din annons är betald men ännu ej publicerad. Vänta i 10 minuter och uppdatera sidan. Är din annons ännu opublicerad kontakta oss på <a href = "mailto: info@kontorshund.se">info@kontorshund.se</a> </p>
                    {% endif %}

                    <div id="unpublished">
                        {% include 'core/ads/templates/ad_content_template.html' %}
                    </div>    
                {% endif %}

        {% else %}
            <p>Denna annons väntar på att bli betald</p>
        {% endif %}

    {% else %}

        <p>Antal visningar: {{ ad.ad_views }}</p>

        {% if ad.author == request.user %}
            {% include 'core/ads/templates/handle_published_ad.html' %}
        {% endif %}
        
        {% include 'core/ads/templates/ad_content_template.html' %}
        {% include 'core/ads/templates/ad_contact_author.html' %}

    {% endif %}

{% endblock content %}

{% block footer %}


    <script>
        function hide_email_button() {
        const email_button = document.getElementById('email_user_button');
        email_button.style.display = 'none';
    }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    
    <script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
    
    <script>
        grecaptcha.ready(function() {
            const get_email_button = document.getElementById('get_user_email');
            const email_user_button = document.getElementById('email_user_button');

            get_email_button.addEventListener('click', (event) => {
                grecaptcha.execute('{{ site_key }}', {action: 'validate_email_request'}).then(function(token) {

                    var xhr = new XMLHttpRequest();

                    // CSRF Set-up
                    let cookie = document.cookie
                    let csrftoken = cookie.substring(cookie.indexOf('=') + 1)

                    params = {
                        'token': token
                    }

                    // Runs when token have been retrieved
                    xhr.onload = function () {
                    if (xhr.readyState === xhr.DONE) {
                        if (xhr.status === 200) {
                            mail_adress = xhr.response.replace(/['"]+/g, '')
                            email_user_button.href = `mailto: ${mail_adress}`
                            email_user_button.style.display = 'block';
                            get_email_button.style.display = 'none';

                        }
                    }
                    };

                    // Retrieve token
                    xhr.open('POST',  "{% url 'recapcha' ad.pk %}", true);
                    xhr.setRequestHeader("X-CSRFToken", csrftoken); 
                    //xhr.setRequestHeader("Content-Type", "text/plain;charset=UTF-8"); 
                    xhr.send(JSON.stringify(params));

                });
            })

            });
    </script>

 {% endblock footer %}
