{% extends '_base.html' %}


{% block content %}

<h1 id="h1_new_ad">Skapa en ny annons</h1>

<div id="choose_options">
    <a href="{% url 'new_ad_get_me_a_dog' %}"><img  src="https://kontorshund.eu-central-1.linodeobjects.com/static/local_static/core/requesting_dog.jpg" alt="Letar du efter en hundkompis?"></a>
    <a href="{% url 'new_ad_take_my_dog' %}"><img src="https://kontorshund.eu-central-1.linodeobjects.com/static/local_static/core/offering_dog.jpg" alt="Letar din hund efter nya vänner?"></a>
</div>

{% endblock content %}








