{% extends '_base.html' %}

{% block title %}Kontorshund - Skapa ny annons{% endblock %}


{% block content %}

<h1 id="h1_new_ad">Kontorshund - Ny annons</h1>

<div id="choose_options">
    <a href="{% url 'new_ad_requesting_dog' %}"><img  src="https://kontorshund.eu-central-1.linodeobjects.com/static/local_static/core/requesting_dog.jpg" alt="Letar du efter en hundkompis?"></a>
    <a href="{% url 'new_ad_offering_dog' %}"><img src="https://kontorshund.eu-central-1.linodeobjects.com/static/local_static/core/offering_dog.jpg" alt="Letar din hund efter nya vänner?"></a>
</div>

{% endblock content %}








