{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Kontorshund - Sök annonser{% endblock %}


{% block content %}

    <div class="alert alert-primary" role="alert" style="text-align: center;">
        <p>
            LANSERINGSERBJUDANDE - FÖRST TILL KVARN!
        </p>
        <b>
            {{ ads_left_on_special_offer }} / {{ number_of_ads_offered_at_discount }} annonser kvar till priset 10 kr, därefter 40 kr/annons!
        </b>
    </div>

    <div class="alert alert-dark" role="alert" style="text-align: center;">
       Just nu finns det totalt {{ count_all_offering_ads }} "Hund erbjudes", och {{ count_all_requesting_ads }} "Hund sökes" annonser uppe
      </div>
  

    <div id="center-align-container" class="mb-4">
        <h1>Kontorshund - Annonser</h1>
    </div>

    <hr style="height:1px;border:none;color:#333;background-color:#333;">

    <div id="center-align-container" class="mb-4">
        <p>
          <a class="btn btn-primary btn-lg mt-3 mb-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Sökfilter &#128269;
          </a>
          <p class="mb-4">Filtrera annonser på annonstyp, plats, omfattning och hundstorlek. </p>
        </p>
      </div>
      
      <div class="collapse" id="collapseExample">
       
        <div class="card card-body">

            <h5 class="mt-4 mb-2">Välj annonstyp</h5>

                <form name="ad-type-form">

                        <div name="ad-type-selectors" style="display: flex; flex-wrap: wrap;" >
                            <div class="col-lg-3">
                                <input type="radio" id="ad-search-all"
                                name="adtype" value="all" checked>
                                <label for="ad-search-all" >Alla annonser ({{ count_all_ads }})</label>
                            </div>

                            <div class="col-lg-3">
                                <input type="radio" id="ad-search-offering"
                                name="adtype" value="offering">
                                <label for="ad-search-offering">Hund erbjudes ({{ count_all_offering_ads }})</label>
                            </div>

                            <div class="col-lg-3">
                                <input type="radio" id="ad-search-searching"
                                name="adtype" value="requesting">
                                <label for="ad-search-searching">Hund sökes ({{ count_all_requesting_ads }})</label>
                            </div>

                        </div>

                </form>
        

            <h5 class="mt-4 mb-2">Välj inom vilket geografiskt område</h5>

                <div name="geographies-selectors" style="display: flex; flex-wrap: wrap;">

                    <div class="col-lg-4">
                        <div id="div_id_province" class="form-group">

                            <label for="id_province" class="">
                                Landskap/Storstad
                            </label>

                            <div class="">        
                                <select name="province" class="select form-control" id="id_province">
                                    <option value="" selected>---------</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div id="div_id_municipality" class="form-group">
                            <label for="id_municipality" class="">
                                Kommun
                            </label>
                            
                            <div class="">
                                <select name="municipality" class="select form-control" id="id_municipality">
                                    <option value="" selected>---------</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div id="div_id_area" class="form-group">
                            <label for="id_area" class="">
                            Område
                            </label>
                            
                            <div class="">
                                <select name="area" class="select form-control" id="id_area">
                                    <option value="" selected>---------</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>  
    
            <h5 class="mt-4 mb-2">Välj omfattning</h5>

                <div name="extra-selectors" style="display: flex; flex-wrap: wrap;">


                    <div id="div_id_days_per_week" class="form-group col-lg-3">
                        
                        <label for="" class="">
                            Dagar per vecka
                        </label>

                        <div>

                            <div class="custom-control custom-checkbox"> 
                                <input type="checkbox" class="custom-control-input" name="days_per_week" id="id_days_per_week_1" value="1"  > 
                                <label class="custom-control-label" for="id_days_per_week_1">
                                    1 dag per vecka
                                </label> 
                            </div> 

                            <div class="custom-control custom-checkbox"> 
                                <input type="checkbox" class="custom-control-input" name="days_per_week" id="id_days_per_week_2" value="1-2"  > 
                                <label class="custom-control-label" for="id_days_per_week_2">
                                    1-2 dagar per vecka
                                </label> 
                            </div> 

                            <div class="custom-control custom-checkbox"> 
                                <input type="checkbox" class="custom-control-input" name="days_per_week" id="id_days_per_week_3" value="1-3"  > 
                                <label class="custom-control-label" for="id_days_per_week_3">
                                    1-3 dagar per vecka
                                </label> 
                            </div> 

                            <div class="custom-control custom-checkbox"> 
                                <input type="checkbox" class="custom-control-input" name="days_per_week" id="id_days_per_week_4" value="1-4"  > 
                                <label class="custom-control-label" for="id_days_per_week_4">
                                    1-4 dagar per vecka
                                </label> 
                            </div> 

                            <div class="custom-control custom-checkbox"> 
                                <input type="checkbox" class="custom-control-input" name="days_per_week" id="id_days_per_week_5" value="1-5"  > 
                                <label class="custom-control-label" for="id_days_per_week_5">
                                    1-5 dagar per vecka
                                </label> 
                            </div> 

                        </div>

                    </div>
            

                <div id="div_id_size_requested" class="form-group col-lg-3 d-none"> 
                
                    <label for="" class="">
                        Hundstorlek
                    </label> 
                    
                    <div> 

                        <div class="custom-control custom-checkbox"> 
                            <input type="checkbox" class="custom-control-input" name="size_requested" id="id_size_requested_1" value="1"  > 
                            <label class="custom-control-label" for="id_size_requested_1">
                                Liten hund
                            </label> 
                        </div> 

                        <div class="custom-control custom-checkbox"> 
                            <input type="checkbox" class="custom-control-input" name="size_requested" id="id_size_requested_2" value="2"  > 
                            <label class="custom-control-label" for="id_size_requested_2">
                                Mellanstor hund
                            </label> 
                        </div> 

                        <div class="custom-control custom-checkbox"> 
                            <input type="checkbox" class="custom-control-input" name="size_requested" id="id_size_requested_3" value="3"  > 
                            <label class="custom-control-label" for="id_size_requested_3">
                                Stor hund
                            </label> 
                        </div> 

                        <div class="custom-control custom-checkbox"> 
                            <input type="checkbox" class="custom-control-input" name="size_requested" id="id_size_requested_4" value="4"  > 
                            <label class="custom-control-label" for="id_size_requested_4">
                                Väldigt stor hund
                            </label> 
                        </div> 

                    </div> 

                </div>
                

            <div id="div_id_size_offered" class="form-group col-lg-3 d-none"> 

                <label for="" class="">
                    Hundstorlek
                </label> 
                
                <div> 

                    <div class="custom-control custom-checkbox"> 
                        <input type="checkbox" class="custom-control-input" name="size_offered" id="id_size_offered_1" value="1"  > 
                        <label class="custom-control-label" for="id_size_offered_1">
                            Liten hund
                        </label> 
                    </div> 
                    <div class="custom-control custom-checkbox"> 
                        <input type="checkbox" class="custom-control-input" name="size_offered" id="id_size_offered_2" value="2"  > 
                        <label class="custom-control-label" for="id_size_offered_2">
                            Mellanstor hund
                        </label> 
                    </div> 
                    <div class="custom-control custom-checkbox"> 
                        <input type="checkbox" class="custom-control-input" name="size_offered" id="id_size_offered_3" value="3"  > 
                        <label class="custom-control-label" for="id_size_offered_3">
                            Stor hund
                        </label> 
                    </div> 
                    <div class="custom-control custom-checkbox"> 
                        <input type="checkbox" class="custom-control-input" name="size_offered" id="id_size_offered_4" value="4"  > 
                        <label class="custom-control-label" for="id_size_offered_4">
                            Väldigt stor hund
                        </label> 
                    </div> 
                </div> 
            </div>

        </div>


    </div>
    </div>
  

    

     
<hr style="height:1px;border:none;color:#333;background-color:#333;">

<div class="container mt-4">
    <div class="row">
        <div id="search_result_title_div" class="col text-center">
            <h3>Sökresultat: 
                <span class="mr-3" id="ad_count_loading_dots"></span> 
                <span id="ad_count_title"></span>
                <span id="ads_title_placeholder">annonser</span>
            </h3>
        </div>
    </div>
</div>


 
        <div id="ad_selection" style="margin-bottom: 30px;">
    
        </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button onclick="RequestAds(false)" id="load_more_ads" class="btn btn-primary invisible">Ladda fler annonser</button>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="invisible" id="no_more_ads">Inga fler annonser hittades</p>    
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-3">
                <div id="loading-ads"></div>    
            </div>
        </div>
    </div>

    



{% endblock content %}

{% block footer %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />
<script type="text/javascript" src="{% static 'autocomplete_light/vendor/select2/dist/js/select2.full.js' %}"></script>
{{ form.media }}


<script>

    ///////////////////////////
    // GLOBAL HELPER FUNCTIONS
    //////////////////////////

    // Handling CSRF Cookies, The following function are copying from https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    //////////////////////////////
    // LOADING PROVINCES FUNCTION
    //////////////////////////////

    // Loading initial provinces
    $(function(){ 
        // inspect html to check id of category select dropdown.
        $(document).ready( function(){ 
            $.getJSON("/ajax/load-provinces/", function(j){ 
                var options = '<option value="">---------</option>'; 
                for (var i = 0; i < j.length; i++) { 
                    options += '<option value="' + j[i].id + '">' + j[i].name + ' ('+ j[i].offering_count + ', '+ j[i].requesting_count + ')' + '</option>'; 
                } 
                // inspect html to check id of subcategory select dropdown.
                $("select#id_province").html(options); 

                // Reset areas field 
                var empty_options = '<option value="">---------</option>';
                $("select#id_area").html(empty_options);  

            }); 
        }); 
    }); 


    //////////////////////////
    // VAR/CONST DECLARATIONS
    /////////////////////////
    const loading_dots = document.getElementById('ad_count_loading_dots') 
    const count_title = document.getElementById('ad_count_title')
    const load_more_ads_button = document.getElementById('load_more_ads')
    const ads_title_placeholder = document.getElementById('ads_title_placeholder')
    const no_more_ads = document.getElementById('no_more_ads')
    const ad_selection_div = document.getElementById('ad_selection')
    const loader_ads = document.getElementById('loading-ads');
    const search_result_title_div = document.getElementById('search_result_title_div');
    const formContainer = document.getElementById("form-container");
    const div_size_requested = document.getElementById("div_id_size_requested");
    const div_size_offered = document.getElementById("div_id_size_offered");


    //////////////////////////////////////////////
    // MAIN FUNCTION RETURNING TYPE OF SEARCH FORM
    //////////////////////////////////////////////

    // Run when user changes ad type for query
    $('input[name="adtype"]').change(function() {
        

        ad_selection_div.innerHTML = '';
        articleOffset = 0;

        var selected_ad_type = $(this).val()

        if (selected_ad_type === 'all') {
            div_size_offered.classList.add('d-none')
            div_size_requested.classList.add('d-none')
        }
        if (selected_ad_type === 'offering') {
            div_size_offered.classList.remove('d-none')
            div_size_requested.classList.add('d-none')
        }
        if (selected_ad_type === 'requesting') {
            div_size_offered.classList.add('d-none')
            div_size_requested.classList.remove('d-none')
        }
       
        // Request ads matching the ad-type
        RequestAds(true);

    });


    //////////////////////////////////////////////
    // HELPER FUNCTIONS REQUEST ADS MATCHING QUERY
    //////////////////////////////////////////////

    function displayLoadingAds() {
    loader_ads.classList.add("display");
    setTimeout(() => {
        loader_ads.classList.remove("display");
    }, 5000);
    }

    function hideLoadingAds() {
        loader_ads.classList.remove("display");
    }


    // Handling change done on select-items
    $(document).on('change',
        'select[id="id_province"], select[id="id_municipality"], select[id="id_area"]', 
        function(){
            // Set-up
            ad_selection_div.innerHTML = '';
            load_more_ads_button.classList.add('invisible');
            // Reset offest and request ads matching change
            articleOffset = 0;
            RequestAds(true)
    });
        
    // Handling change done on checkbox-items
    $(document).on('click', 
        'input[name="days_per_week"], input[name="size_offered"], input[name="size_requested"]', 
        function(){
            // Set-up
            ad_selection_div.innerHTML = '';
            // Reset offest and request ads matching change
            articleOffset = 0;
            RequestAds(true)
    });


    ////////////////////////////////////////////
    // MAIN FUNCTION GETTING ADS MATCHING QUERY
    ////////////////////////////////////////////

    // Default offset when loading document
    var articleOffset = 0;

    function RequestAds(doing_initial_request) {
        // Set-up, preparing for new incoming data
        displayLoadingAds()
        search_result_title_div.classList.remove('invisible')
        ads_title_placeholder.classList.remove('invisible')
        load_more_ads_button.classList.add('invisible');
        no_more_ads.classList.add('invisible')
        if(doing_initial_request == true){
            loading_dots.classList.add('loading_dots')
            count_title.innerHTML=''
        }        
        // Retrieve values select and radio fields
        var province = $('#id_province').find(":selected").text();
        var municipality = $('#id_municipality').find(":selected").text();
        var area = $('#id_area').find(":selected").text();
        var type_of_ad_radio = document.querySelectorAll('input[name="adtype"]:checked')
        var type_of_ad = type_of_ad_radio[0].value

        // Collecting data from days_per_week checkboxes
        var days_per_week_checkbox = document.querySelectorAll('input[name="days_per_week"]:checked')
        var days_per_week_values = Array.prototype.slice.call(days_per_week_checkbox, 0)
            // map iterates over the Array returned by Array.prototype.slice():
            .map(function(checkbox) {  
                // returning the value of the checked checkbox:
                return checkbox.value;  
            });

        // Collecting data from size_offered checkboxes
        var checked_size_offered = document.querySelectorAll('input[name="size_offered"]:checked')
        var size_offered_values = Array.prototype.slice.call(checked_size_offered, 0)
            .map(function(checkbox) {  // map iterates over the Array returned by Array.prototype.slice():
            return checkbox.parentElement.textContent.trim();  // returning the value of the label (as the value of checkbox isn't helping):
            });

        // Collecting data from size_requested checkboxes
        var checked_size_requested = document.querySelectorAll('input[name="size_requested"]:checked')
        var size_requested_values = Array.prototype.slice.call(checked_size_requested, 0)
            .map(function(checkbox) {  // map iterates over the Array returned by Array.prototype.slice():
            return checkbox.parentElement.textContent.trim();  // returning the value of the label (as the value of checkbox isn't helping):
            });


        // Consolidating all data into one object
        data = {
            'type_of_ad': type_of_ad,
            'province': province,
            'municipality': municipality,
            'area': area,
            'days_per_week': days_per_week_values,
            'size_offered': size_offered_values,
            'size_requested': size_requested_values,
            'offset': articleOffset,
        }

        // Make request to backend with collected data
        const url = "";
        let csrftoken = getCookie('csrftoken');

        let response =  fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify(data),
        })

        // Convert response to JSON
        .then(function (response) {
            return response.json();
        })

        // Update ad selection with users search parameters
        .then(function (data) {
            data_obj = JSON.parse(data)

            // If no ads matching query were found
            if ((data_obj.ads.length === 0) && (ad_selection_div.innerHTML === '')) {
                hideLoadingAds();
                loading_dots.classList.remove('loading_dots');
                count_title.innerHTML=`Inga annonser hittade`;
                ads_title_placeholder.classList.add('invisible');
                ads_title_placeholder.classList.add('invisible');
                no_more_ads.classList.add("invisible");
            }

            // If no _additional_ ads matching query were found
            if ((data_obj.ads.length === 0) && (ad_selection_div.innerHTML !== '')) {
                count_title.innerHTML=`${data_obj.total_ads}`
                no_more_ads.classList.remove("invisible")
                hideLoadingAds();
                loading_dots.classList.remove('loading_dots');


            }

            // If ads matching query were found
            if (data_obj.ads.length > 0) {
                loading_dots.classList.remove('loading_dots')
                no_more_ads.classList.add('invisible');
                count_title.innerHTML=`${data_obj.total_ads}`

                // Iterate over each ad and add to query result for user
                for (var i = 0, total = data_obj.ads.length; i < total; i++) {
                    var compile_data;   
                    compile_data = `<div class="card" style="width: 20rem;"> 
                        <a href="https://www.kontorshund.se/ads/${data_obj.ads[i].pk}"> <img class="card-img-top" src="${data_obj.ads[i].image_url}" alt="${data_obj.ads[i].title}-bild"> </a>
                        <div class="card-body">
                            <h5 class="card-title">${(data_obj.ads[i].ad_kind === 'OF') ? '- Hund erbjudes -' : '- Hund sökes -'}</h5>
                            <h6 class="card-title">${data_obj.ads[i].title} ${data_obj.ads[i].pk}</h6>
                            <h7 class="card-title">${data_obj.ads[i].province}/${data_obj.ads[i].municipality}${data_obj.ads[i].area ? `/${data_obj['ads'][i].area}` : ''} </h7>
                        </div>
                        </div>`                          
                
                    $('#ad_selection').append(compile_data);

                    load_more_ads_button.classList.remove('invisible')
                }

                // Update offset (only resets when user change query)
                articleOffset += 10
                
                hideLoadingAds()
            } 
        });
    }

    // Get initial ads on page load
    RequestAds(true);

    // JS for handling geographies selectors
    {% include 'core/ads/templates/geographies_selectors.js' %}

    </script>

{% endblock footer%}








