{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Kontorshund - Ny Annons{% endblock title %}


{% block content %}

{% block form_title %}
<h1 id="h1_new_ad" class="mb-3">Skapa en ny annons - Kontorshund <u>sökes</u></h1>
{% endblock form_title %}

  
  
  <form method="post" enctype="multipart/form-data" id="adForm" data-municipalities-url="{% url 'ajax_load_municipalities' %}" data-areas-url="{% url 'ajax_load_areas' %}" novalidate>
    {% csrf_token %}  

    {% crispy form %}

  </form>

</body>
{% endblock content %}

{% block footer %}

  <!-- GEOGRAPHIES -->
    <script type="text/javascript" charset="utf-8"> 
      {% include 'core/ads/templates/geographies_selectors.js' %}
    </script>
  <!-- GEOGRAPHIES -->
     
{% endblock footer %}







