{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Kontorshund - Ny Annons{% endblock title %}


{% block content %}

{% block form_title %}
<h1 id="h1_new_ad" class="mb-3">Skapa en ny annons - Kontorshund <u>erbjudes</u></h1>
{% endblock form_title %}

  
  
  <form method="post" enctype="multipart/form-data" id="adForm" data-municipalities-url="{% url 'ajax_load_municipalities' %}" data-areas-url="{% url 'ajax_load_areas' %}" novalidate>
    {% csrf_token %}  

    {% crispy form %}

  </form>

</body>
{% endblock content %}

{% block footer %}

<!-- Area selectors -->
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script>
      function hide_area_field() {
        const area_selector = document.getElementById('id_area');
        area_selector.style.display = 'none';
      }

  </script>


<script type="text/javascript" charset="utf-8"> 

  {% include 'core/ads/templates/geographies_selectors.js' %}

  </script>
     
{% endblock footer %}







